@import "tailwindcss";

@layer base {
  @media print {
    @page {
      margin: 0;
    }
    body {
      margin: 0;
    }
    body * {
      visibility: hidden;
    }
    .printable-invoice, .printable-invoice * {
      visibility: visible;
    }
    .printable-invoice {
      position: absolute;
      left: 0;
      top: 0;
      margin: 0;
      padding: 4mm;
      background: white;
    }
  }
}

.invoice-80mm {
  width: 80mm;
}

.invoice-58mm {
  width: 58mm;
}

.printable-invoice {
  display: none;
}

@media print {
  .printable-invoice {
    display: block;
  }
}
